data/buckwheat_production/*
data/environmental/*
raw_data/*
outputs/models/*
outputs/old/*
manuscript/*


outputs/05_01_Posterior_Predictions_parabolic_simple_iCAR.csv
stan_models/parabolic_interactions_iCAR.stan
